{% extends 'board/base.html' %}

{% block title %}Dashboard{% endblock %}
	
{% block content %}	
{% if titles_and_tasks %}
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
    {% for title, group in titles_and_tasks %}
    <div class="panel panel-success col-md-4">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">{{ title }}<a href="{% url 'board:add' %}" class="btn btn-default btn-sm pull-right">Add {{title}}</a></h3>
      </div>
      <div class="panel-body">
        <ul class='list-group'>
            {% for task in group %}
                <a data-toggle="popover" data-html="true" data-container="body"
                   data-trigger="focus" tabindex="0"
                   title="Creator: {{ task.creator }} Created on: {{ task.creation_date }}"
                   data-content="<form method='POST' action='{% url 'board:edit' %}'>
                               {% csrf_token %}
                               <input type='hidden' name='task_id' value='{{task.id}}'>
                               <button type='submit' class='btn btn-sm btn-default' name='progress'>Next
                               </button>
                               <button type='submit' class='btn btn-sm btn-default' name='delete'>Delete
                               </button>
                               </form>">
                    {{ task.name }}</a><li>{{ task.description }}</li>
            {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
{% else %}
    <p>No tasks here yet!</p>
{% endif %}
{% endblock %}