{% extends 'board/base.html' %}

{% block title %}Dashboard{% endblock %}
	
{% block content %}	
{% if todo %}
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
<div class="panel panel-success col-md-4">
  <div class="panel-heading">
    <h3 class="panel-title">To do</h3>
  </div>
  <div class="panel-body">
    <ul class='list-group'>
		{% for task in todo %}
			<a data-toggle="popover" data-html="true" data-container="body" title="Creator: {{ task.creator }} Created on: {{ task.creation_date }}" data-content="<form><button class='btn btn-default' value='{{ task.id }}'>Delete</button></form>">{{ task.name }}</a><li>{{ task.description}}</li>

		{% endfor %}
	</ul>
  </div>
</div>

<div class="panel panel-success col-md-4">
  <div class="panel-heading">
    <h3 class="panel-title">In Progress</h3>
  </div>
  <div class="panel-body">
    <ul class='list-group'>
		{% for task in inprogress %}
			<a data-toggle="popover" data-container="body" title="Creator: {{ task.creator }}" data-content="Created on: {{ task.creation_date }}">{{ task.name }}</a>
			<li class='list-group'>{{ task.description }}</li>
		{% endfor %}
	</ul>
  </div>
</div>

<div class="panel panel-success col-md-4">
  <div class="panel-heading">
    <h3 class="panel-title">Finished</h3>
  </div>
  <div class="panel-body">
    <ul class='list-group'>
		{% for task in finished %}
			<a data-toggle="popover" data-container="body" title="Creator: {{ task.creator }}" data-content="Created on: {{ task.creation_date }}">{{ task.name }}</a>
			<li class='list-group'>{{ task.description }}</li>
		{% endfor %} 
	</ul>
  </div>
</div>

{% else %}
    <p>No tasks here yet!</p>
{% endif %}
<script>
    //Add Javascript here to detect when each button has been hit, then submit value (task.id) via ajax to process removal, state change or edited values.
</script>
{% endblock %}